@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

.profile-info {
  margin-bottom: 25px;
}

.profile-img {
  width: 100%;
  max-width: 300px;
}

.profile-img-section {
  position: relative;
}



.profile {
  text-align: center;
}

.profile-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-color);
  font-family: "Noto Sans", sans-serif;
}

.profile-details {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 450px;
  margin: 20px auto;
}




@media (min-width: 950px) {
  .profile-info {
    margin-bottom: 0px;
  }

  .profile-img {
    width: 100%;
    max-width: 350px;
    
  }

  .profile {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items:center;
  }

  .profile-title {
    font-size: 48px;
  }

  .profile-details {
    font-size: 25px;
    margin: 30px 0;
  }



